node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
/.expo
/.expo-shared
/for_work
app.json
babel.config.js
yarn-error.log
yarn.lock
*.txt
/source
config___.js
/for_work
/backend/static

# macOS
.DS_Store
